//fonts
$sans-serif: 'Helvetica Neue', Arial, sans-serif;

//images
$image-path: '../images/';

//animation
$global-transition-duration: .3s;

//media query variables
//screen min variables
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

//screen max variables
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 100;



